@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply text-lg
}

.projects img {
    width: 100%;
}

/* color */
.bg-primary {
    background: #212A3E;
}

.bg-secondery {
    background: #394867;
}

.bg-accent {
    background: #394867;
}


.text-accent {
    color: #9BA4B5;
}


nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: #9BA4B5;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}


/* hero */
h1 {
    font-family: 'Source Code Pro', sans-serif;                                            
    line-height: 1 !important;
}

